@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/animation' as *;

.about {
    margin-top: 30rem;
    span { 
        color: $terciary-color-font;
        font-size: $medium-font-primary;    
        font-weight: 300;

    }
}