@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/animation' as *;

.about {
    position: relative;

    margin-top: 30rem;

    .container__info { 
        color: $terciary-color-font;
        font-size: $medium-font-primary;    
        font-weight: 300;

    }
}