@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.project {
    max-width: 350px;
    width: 100%;
    min-height: 380px;
    width: 100%;
    color: $terciary-color-font;
    padding: 8px;
    cursor: default;
    border-bottom: 2px solid $primary-color;

    &__image {
        width: 100%;

        img {
            width: 100%;
        }
    }
    &__title {
        font-size: $medium-font-terciary;
        color: $secundary-color;
        border-bottom: 1px solid $terciary-color;
        padding-bottom: 4px;
    }

    &__description {
        font-size: $small-font-secundary;
        padding: 4px 0;
    }

    &__langs {
        font-size: $small-font-terciary;
        color: $primary-color;
        letter-spacing: 1px;
        font-weight: 300;
        padding-bottom: 4px;
    }
    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        padding: 8px 0;

        .btn {
            @include flex-center;
            gap: 8px;
            color: $white;
            font-weight: 500;
            font-size: $small-font-terciary;
            border-radius: 4px;
            background-color: $primary-color;
            transition: all .4s ease;

            .icon {
                font-size: $medium-font-secundary;
            }
        }
    }
}