@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.skills__container {
    @include flex-center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}

.skill {
    @include flex-center;
    flex-direction: column;
    font-size: 7.2rem;
    padding: 8px;
    color: $primary-color;
    transition: all .4s ease;

    &__span {
        font-size: $small-font-terciary;
        color: $primary-color-font;
        margin-top: 8px;
    }

    &:hover {
        transform: translateY(-4px);
    }
}

