@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/animation' as *;

.btn{
    @include flex-center;
    padding: 8px;
    color: $terciary-color-font;
    overflow: hidden;
}

.btn-curriculum{
    font-size: 1.6rem;
    gap: 12px;
    background-color: $primary-color;
    color: $secundary-color;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: all .5s ease;

    &:hover{

        border-color: $secundary-color;
        
        .FaDownload{
            animation: downloadAnimation 1s ease infinite;
            opacity: 1;
        }
    }
}
.FaDownload{
    opacity: 1;
    transition: all .5s ease;
}

.btn-config{
    border: 2px solid $dark-weak;
    border-radius: 2px;
    font-size: 1.6rem;

    &:hover{

        .FaCog{
            animation: animationRotate 1s ease;
        }
    }

}