@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.card{
    @include width-max;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-30%);
    color: $primary-color-font;

    @media  (max-width:425px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 60%;

        &__info{
           text-align: center;
        }
    }

    &__image-profile{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;  
        border: 4px solid $primary-color;   
        background-color: $black; 
        box-shadow: 0 0 15px rgba($terciary-color, 1);

        img{
            width: 100%;
            border: 50px;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: end;
        margin-left: 32px;
        font-size: $small-font-terciary;
        
        
        &--name{
            font-weight: 500;
            font-size: $medium-font-secundary;
            color: $primary-color-font;
        }

        &--office{
            color: $terciary-color-font;
            margin-bottom: -2px;

        }
    }

    &__others{
        display: flex;
        gap: 8px;
        position: absolute;
        right: 2.5%;
        bottom: 0;

        @media  (max-width:768px) {
            display: none;
        }
    }
}