@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
header{
    height: 16rem;
    border-bottom: 4px solid $primary-color;
    background-image: url('../../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation{
    max-width: 1280px;
    width: 100%;
    height: 5.5rem;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__menu{
        display: flex;
        gap: 16px;

        &--link{
            position: relative;
            color: $white;
            padding: 4px 8px;
            border-radius: 4px;
            font-weight: 500;
            transition: all .5s ease;
 
            &:hover{
                color: $primary-color;
                background-color: rgba($terciary-color, .2);

            }
        }
    }
}
.message div{
    position: absolute;
    width: 100%;
    @include flex-center;
    background-color: $primary-color;
    font-size: $medium-font-primary;
    padding: 2px 0;
    box-shadow: 0 0 4px $terciary-color;
    
    div{
        background-color: red
    }
    p{
        @include flex-center;
        gap: 8px;
    }
    .iconsTec{
        font-size: $medium-font-secundary;
    }
    .btnClose{
        margin-left: 32px;
        padding: 4px 12px;
        background-color: rgba($terciary-color, .5);
        cursor: pointer;
        text-transform: uppercase;
        color: $white;

        &:hover{
            background-color: $primary-color;
        }

    }
}