// Colors
$primary-color: #FF6363;
$secundary-color: #FAFAFA;
$terciary-color: #232931;
$black: #000000;
$white: #FFFFFF;

// Colors Dark
$dark-weak: #404040;
$dark-medium: #343434;
$dark-strong: #1F1F1F;

// Font Colors
$primary-color-font: rgba(#FFF, .96);
$secundary-color-font: rgba(#FFF, .67);
$terciary-color-font: rgba(#FFF, .45);

// ----- Font size Small -----
$small-font-primary: 0.375rem;
$small-font-secundary: 0.625rem;
$small-font-terciary: 0.875rem;

// ----- Font size Medium -----
$medium-font-primary: 1rem;
$medium-font-secundary: 1.375rem;
$medium-font-terciary: 1.75rem;

// ----- Font size Big -----
$big-font-primary: 2.5rem;
$big-font-secundary: 3.5rem;
$big-font-terciary: 4.5rem;