@use '../abstract/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    // border: 1px solid #ccc;
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none;  
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #090909;

    *::selection{
        background-color: none;
    }
}

section {
    width: 100%;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
}
