@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.title-section {
    max-width: 100%;
    font-size: 7.2rem;
    text-transform: uppercase;
    color: $dark-strong;
    font-weight: bold;
    margin: 5rem 0;


    @media screen and (max-width:768px) {
        font-size: 3.2rem;
    }

}