@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #151515;
}

header {
  height: 16rem;
  border-bottom: 4px solid #FF6363;
  background-image: url("../../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  max-width: 1280px;
  width: 100%;
  height: 5.5rem;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.navigation__menu {
  display: flex;
  gap: 16px;
}
.navigation__menu--link {
  position: relative;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.navigation__menu--link:hover {
  color: #FF6363;
  background-color: rgba(35, 41, 49, 0.2);
}

.message {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  font-size: 1rem;
  padding: 2px 0;
  box-shadow: 0 0 4px #232931;
}
.message p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.message .iconsTec {
  font-size: 1.375rem;
}
.message .btnClose {
  margin-left: 32px;
  padding: 4px 12px;
  background-color: rgba(35, 41, 49, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  color: #FFFFFF;
}
.message .btnClose:hover {
  background-color: #FF6363;
}

.card {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-30%);
  color: rgba(255, 255, 255, 0.96);
}
@media (max-width: 425px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 60%;
  }
  .card__info {
    text-align: center;
  }
}
.card__image-profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #FF6363;
  background-color: #000000;
  box-shadow: 0 0 15px #232931;
}
.card__image-profile img {
  width: 100%;
  border: 50px;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: end;
  margin-left: 32px;
  font-size: 0.875rem;
}
.card__info--name {
  font-weight: 500;
  font-size: 1.375rem;
  color: rgba(255, 255, 255, 0.96);
}
.card__info--office {
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: -2px;
}
.card__others {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 2.5%;
  bottom: 0;
}
@media (max-width: 768px) {
  .card__others {
    display: none;
  }
}

.socials {
  display: inline-flex;
  justify-content: left;
  gap: 12px;
  margin-top: 8px;
}
.socials--link {
  color: rgba(255, 255, 255, 0.45);
  font-size: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: all 0.25s ease-in-out;
}
.socials--link:hover {
  color: #FF6363;
  transform: translateY(-3px);
}
.socials--span-alt {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 0.875rem;
  padding: 4px;
  border-radius: 4px;
  transition: display 1s ease 2s;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: rgba(255, 255, 255, 0.45);
}

.btn-curriculum {
  gap: 12px;
  border: 2px solid #FF6363;
  color: #FF6363;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.btn-curriculum:hover .FaDownload {
  opacity: 1;
}

.FaDownload {
  opacity: 1;
  transition: all 0.5s ease;
}

/*# sourceMappingURL=styles.css.map */
